.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}

.overlay_text {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.projects_item {
  position: relative;
  display: grid;
  grid-template-rows: 3fr 1fr;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

@media(max-width: 650px) {
  .projects_item:empty {
    display: none;
  }
}

.projects_item:hover {
  background-color: white;
}

.proj_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pwa_barcode_scanner:before {
  content: "🛒";
  font-size: 8em;
  text-align: center;
  display: block;
}

#parrotify_cli:before {
  content: "⚡️";
  font-size: 8em;
  text-align: center;
  display: block;
}

.proj_links_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.proj_link_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px var(--main-text-color);
}

.proj_link_wrapper:hover {
  background-color: var(--main-bg-color);
}

.proj_link {
  font-size: 2em;
}
