.masonry-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
}

@media(max-width: 650px) {
  .masonry-grid {
    display: block;
  }
}

.masonry-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

.masonry-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.masonry-details {
  padding: 0.5rem 1rem;
}

.masonry-image {
  margin: 0;
}
