:root {
  --main-bg-color: #CC2800;
  --main-text-color: hsla(0, 0%, 0%, 0.8);
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --cursor-light: url("../images/cursor_white.png");
  --cursor-dark: url("../images/cursor_black.png");
}
