.grid_container a:hover {
  cursor: var(--cursor-light), auto;
}

.grid_container {
  height: calc(100vh - 45px);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@media(max-width: 650px) {
  .grid_container {
    height: auto;
    grid-template-columns: auto;
  }
}
